# Gradle
.gradle/
build/
**/build/
local.properties
gradle-app.setting
!gradle-wrapper.properties
.gradletasknamecache

# Android Studio / IntelliJ
.idea/
*.iml
.navigation/
captures/

# Keystore
keystore.properties
*.keystore
*.jks

# OS
.DS_Store
Thumbs.db

# Logs
*.log
hs_err_pid*

# Kotlin
*.kotlin_module
